# Node
node_modules
**/node_modules

# Secrets
.env
.env.*
**/.env
**/.env.*

# Git
.git
.gitignore
.gitattributes
.github

# Cache
.cache/*
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

# Build
build
**/build

# npm
!.npmrc

# Docker related
.dockerignore
Dockerfile
**/Dockerfile
Dockerfile.*
**/Dockerfile.*
docker-compose.yml
**/docker-compose.yml
docker-compose.*.yml
**/docker-compose.*.yml
docker

# Log files
logs
**/logs
*.log
**/*.log

# Temp files
tmp
**/tmp
*.tmp
**/*.tmp

# IDE
.idea
.vscode
