[submodule "dependencies/installer/node_exporter"]
	path = dependencies/installer/node_exporter
	url = https://github.com/carlocorradini/node_exporter_installer.git
	shallow = true
	ignore = all

[submodule "dependencies/installer/k3s"]
	path = dependencies/installer/k3s
	url = https://github.com/k3s-io/k3s.git
	shallow = true
	ignore = all
